<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14650306357-hk4r1i37gpegb09ucohu50id8n1r1hc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14650306357-hk4r1i37gpegb09ucohu50id8n1r1hc8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14650306357-28665akdp51jgidcep3n1e4q8dl60642.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJqNQfdncFBC8gNxTemRUDd1oMy8fWLk</string>
	<key>GCM_SENDER_ID</key>
	<string>14650306357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workAssignment</string>
	<key>PROJECT_ID</key>
	<string>work-assignment-ef4ae</string>
	<key>STORAGE_BUCKET</key>
	<string>work-assignment-ef4ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14650306357:ios:edb382329aaccc1dd7267c</string>
</dict>
</plist>